:root {
  /* Primary colors */
  --cyan: hsl(193, 38%, 86%);
  --green: rgb(82, 255, 168);

  /* Neutral colors */
  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);

  --fs: 20px;
}

img {
  max-width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Manrope", sans-serif;
  background: var(--dark-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.card {
  background-color: var(--dark-grayish-blue);
  max-width: 400px;
  text-align: center;
  padding: 2rem;
  border-radius: 12px;
  position: relative;
  animation: fadeIn 500ms ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 450px) {
  .card {
    margin-inline: 1rem;
  }
}

.title {
  color: var(--green);
  text-transform: uppercase;
  font-weight: normal;
  font-size: 0.6rem;
  letter-spacing: 3px;
  padding-bottom: 1rem;
}

#adviceID {
  margin-left: -0.3rem;
}

.advice {
  color: var(--cyan);
  font-size: var(--fs);
  margin-bottom: 1.5rem;
}

.divider {
  display: block;
  margin-bottom: 2rem;
  /* width: 95%; */
}

.btn {
  position: absolute;
  /* bottom: -15px;
  left: 46.5%; */
  left: 50%;
  bottom: -31px;
  transform: translateX(-50%);
  border: none;
  background-color: var(--green);
  padding: 1rem 1.2rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.btn:hover {
  box-shadow: 0px 0px 25px 2px var(--green);
}
